* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;

  --gray-100: #e1e1e6;
  --gray-300: #a8a8b3;
  --gray-800: #29292e;
  --gray-850: #1f2729;
  --gray-900: #121214;

  --orange-500: #fd520a;
  --blue-200: #028fcb;
}

html {
  max-width: 320px;
  max-height: 568px;
}

body {
  background-color: var(--white);
  color: var(--orange-500);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
}
button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
