.headerContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  height: 75vh;
  width: 100%;
}

.item {
  padding: 5px;
  margin-left: 4rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #028fcb;
  font-weight: bold;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 3rem;

  height: 10vh;
  width: 100%;
}

.icon {
  margin: 1rem;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 5vh;
  width: 100%;

  font-weight: bold;
}
